In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('test.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
data.replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}, inplace=True)

In [4]:
data.replace({'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3, 'Sev': 2, 'Sal': 1}, inplace=True)

In [5]:
data.replace({'GdPrv': 2, 'GdWd': 2, 'MnPrv': 1, 'MnWw': 1}, inplace=True)

In [6]:
data.MSZoning.replace({'C (all)': 'C'})

0        RH
1        RL
2        RL
3        RL
4        RL
5        RL
6        RL
7        RL
8        RL
9        RL
10       RH
11       RM
12       RM
13       RL
14       RL
15       RL
16       RL
17       RL
18       RL
19       RL
20       RL
21       RL
22       RL
23       RL
24       RL
25       RL
26       RL
27       RL
28       FV
29       FV
       ...
1429     RM
1430     RM
1431      C
1432      C
1433      C
1434     RM
1435     RM
1436     RL
1437     RL
1438     RL
1439     RL
1440     RL
1441     RL
1442     RL
1443     RL
1444    NaN
1445     RM
1446     RM
1447     RL
1448     RL
1449     RM
1450     RM
1451     RL
1452     RM
1453     RM
1454     RM
1455     RM
1456     RL
1457     RL
1458     RL
Name: MSZoning, Length: 1459, dtype: object

In [7]:
data.MasVnrType.fillna('None')

0          None
1       BrkFace
2          None
3       BrkFace
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11      BrkFace
12      BrkFace
13         None
14         None
15        Stone
16        Stone
17      BrkFace
18      BrkFace
19      BrkFace
20      BrkFace
21        Stone
22         None
23      BrkFace
24         None
25         None
26      BrkFace
27      BrkFace
28         None
29         None
         ...
1429       None
1430    BrkFace
1431       None
1432       None
1433       None
1434      Stone
1435      Stone
1436       None
1437       None
1438       None
1439    BrkFace
1440       None
1441       None
1442      Stone
1443    BrkFace
1444       None
1445    BrkFace
1446       None
1447       None
1448       None
1449       None
1450       None
1451    BrkFace
1452       None
1453       None
1454       None
1455       None
1456       None
1457       None
1458    BrkFace
Name: MasVnrType, Length: 1459, dtype: object

In [8]:
df = data.groupby(['MasVnrType'])

In [9]:
df.agg(np.count_nonzero)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
MasVnrType,,,,,,,,,,,,,,,,,,,,,
BrkCmn,10,10,10,10.0,10,10,10,10,10,10,...,1,0,10.0,10,10,0,10,10,10,10
BrkFace,434,434,434,434.0,434,434,434,434,434,434,...,55,1,434.0,434,434,14,434,434,434,434
None,878,878,878,878.0,878,878,878,878,878,878,...,72,4,878.0,878,878,35,878,878,878,878
Stone,121,121,121,121.0,121,121,121,121,121,121,...,12,1,121.0,121,121,2,121,121,121,121

In [10]:
data.LotFrontage.fillna(0)
data.MasVnrArea.fillna(0)
data.BsmtFinSF1.fillna(0)
data.BsmtFinSF2.fillna(0)
data.BsmtUnfSF.fillna(0)
data.TotalBsmtSF.fillna(0)
data.BsmtFullBath.fillna(0)
data.BsmtHalfBath.fillna(0)
data.GarageCars.fillna(0)
data.GarageArea.fillna(0)

0       730.0
1       312.0
2       482.0
3       470.0
4       506.0
5       440.0
6       420.0
7       393.0
8       506.0
9       525.0
10      511.0
11      264.0
12      320.0
13      440.0
14      308.0
15      751.0
16      868.0
17      730.0
18      678.0
19      958.0
20      756.0
21      484.0
22      430.0
23      437.0
24      400.0
25      433.0
26      962.0
27      880.0
28      676.0
29      528.0
        ...
1429    272.0
1430    384.0
1431      0.0
1432      0.0
1433      0.0
1434    495.0
1435    525.0
1436    576.0
1437    616.0
1438    490.0
1439    528.0
1440    518.0
1441    470.0
1442    714.0
1443    682.0
1444    270.0
1445    784.0
1446    336.0
1447    288.0
1448    928.0
1449      0.0
1450    253.0
1451    336.0
1452    286.0
1453      0.0
1454      0.0
1455    286.0
1456    576.0
1457      0.0
1458    650.0
Name: GarageArea, Length: 1459, dtype: float64